body{
    font-family: "Candara", serif;
    color:#4a4a4b;
    font-weight: lighter;
    text-align: center;
}
.bannerHome{
        width: 100%;
        height: 425px;
}
.text1Home h1{
    font-size: 30.4px;
}
.text1Home{
    font-size: 17.6; 
}
.serviceCardHome{
    height: 400px;
    background-color:white;
}
.serviceHome{
    border: solid 1px #7c7c7d;
    box-shadow: 1px 5px 8px #4a4a4b;
    margin: 48px;
    background-color: white;
    width: 26%;
    font-size: 8px;
    float: left;
    box-sizing: border-box;
}
.serviceHome h1 span{
    transition: 0.5s;
}

.serviceHome h1 span:hover{
    color: rgb(92, 219, 188);
    text-shadow: 1px 1px black;
    cursor: pointer;
}
.serviceHome h1{
    font-size: 4em;
    font-weight: lighter;
}
.serviceHome h2{
    font-size: 2.05em;
    font-weight: lighter;
}
.serviceImageHome{
    width: 100%;
}
.bannerContactHome{
    width: 100%;
    height: 100%;
    background-color: rgba(30, 33, 54, 0.911);
}
.bannerContactHomeImg{
    width: 100%;
    height: 350px;
    background-image: url("../imagens/serv.jpg");
    background-position: center;
}
.bannerContactTitle{
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: white;
    margin-top: 2%;
}
.bannerContactText{
    text-align: center;
    float: left;
    width: 100%;
    font-size: 32px;
    color: #5dd9c0;
    margin-top: 1%;
}
.phoneNumber{
    text-align: center;
    float: left;
    width: 100%;
    font-size: 32px;
    color: #cec075;
    margin-top: 1%;
}
.contactButton{
    background-color: #5dd9c0;
    border-radius: 15px;
    font-size: 25.6px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 1%;
    box-sizing: border-box;
}
.contactButton:hover{

    background-color: #98e6d6;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;

  }

.boxTextEnd{
    margin-top: 3%;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boxTextEnd h1{
    display: block;
    font-size: 32px;
}
.textEnd{
    float: left;
    font-size: 17.6px;
}
.video{
    width: 35%;
    height: 300px;

}
.flexText{
    display: flex;
    flex-direction: column;
    width: 47%;
}