body{
    margin: 0px;
    font-family: "Candara", serif;
    top: 0px;
}
.navbar {
    height: 80px;
    width: 100%;
    background-color: #f8f9fa;
    position: fixed;
}
.navbar a{
    transition: 0.5s;
}
 .navbar a :hover{
    color: black;
    }
.logo {
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 4%;
    width: 192px;
    height: 68.45px;
    float: left;
}
.navbarButton {
    font-size: 20.8px;
    float: left;
    color:gray;
    margin: 19.2px;
    text-decoration: none;
}